<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Marley Rae</title>

  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=delius-swash-caps:400"
    rel="stylesheet"/>

  <link rel="stylesheet" href="/style.css">
  <script src="/main.js" type="module"></script>

  <script src="/fontawesome/fontawesome.min.js" defer></script>
  <script src="/fontawesome/regular.min.js" defer></script>
  <script src="/fontawesome/solid.min.js" defer></script>
  <script src="/fontawesome/brands.min.js" defer></script>
</head>
<body class="Body">

<div class="Site">

  <header class="Header">
    <h1 class="Header-title" id="headerTitle">Marley Rae</h1>
    <div class="Header-email">marleyrae@protonmail.com</div>
  </header>

  <main class="Main">
    <div class="Carousel" id="carousel">
      {%- for project in portfolio -%}
        <div class="Carousel-item">
          {%- if project.img -%}
            <img src="/portfolio/{{ project.img }}"
              alt="Screenshot of punkfairie.net" class="Carousel-img">
          {%- endif -%}


          <div class="Carousel-title">
            <a href="{{ project.github }}" target="_blank"><i
                class="fa-brands fa-github" title="Github"></i></a> /

            {{ project.title }}

            {%- if project.live -%}
              / <a href="{{ project.live }}" target="_blank"><i
                class="fa-solid fa-link" title="Visit project"></i></a>
            {%- endif -%}
          </div>

          <p class="Carousel-text">{{ project.description }}</p>

          {%- if project.tech -%}
            <p class="Carousel-text">{{ project.tech }}</p>
          {%- endif -%}
        </div>
      {%- endfor -%}
    </div>

    <button class="Carousel-controls Carousel-controls--left"
      id="carousel-prev">
      <i class="fa-solid fa-chevron-left" title="Previous item"></i>
    </button>

    <button class="Carousel-controls Carousel-controls--right"
      id="carousel-next">
      <i class="fa-solid fa-chevron-right" title="Next item"></i>
    </button>
  </main>

  <footer class="Footer" id="footer">
    &copy; 2023
  </footer>

</div>

</body>
</html>
